@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Reset
------------------------------------------------------------*/
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    user-select: none;
    font-size: 62.5%
}

ul {list-style: none;}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 0 0 20px #adacac;
    font-family: 'Lobster', cursive;
}

/*Header
------------------------------------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.header-c {
   padding: 10px 8%;
   display: flex; 
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between   ;
}

.navbar ul {
    display: flex;
    gap: 10px;
    
}

.navbar ul li a {
    position: relative;
    font-size: 1rem;
    padding: 10px;
    color: #fff;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition:all .4s ease;
    border-radius: 20px;
    background-color: #fff;
}

.navbar ul li a:hover::before {
    width: 100%;
}

#toggle {display: none;}

.navbar-mobile {
    height: 0;
    overflow: hidden;
    position: fixed;
}

@media screen and (max-width: 700px) {
    
    .header .logo {font-size: 1.2rem;}

    .header .navbar {display: none;}

    #toggle {
        display: block;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
    }

    .row {
        display: block;
        width: 80%;
        height: 3px;
        margin: 4px 0;
        transition: .5s ease;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px #ccc;
    }

    #toggle.tagOpen .row  {
        background-color: red;
        box-shadow: 0 0 10px tomato;
    }

    #toggle.tagOpen .row:nth-child(1)  {
        transform: translateY(5px) rotate(-45deg);
    }

    #toggle.tagOpen .row:nth-child(2)  {
        display: none;
    }

    #toggle.tagOpen .row:nth-child(3)  {
        transform: translateY(-2px) rotate(45deg);
    }

    .openCloseMenu {
        display: block;
        position: fixed;
        top: 14%;
        width: 100%;
        height: auto;
        color: #fff;
        z-index: 90;
        background-color: #000;
    }

    .openCloseMenu ul li a {
        display: block;
        font-size: 1rem;
        padding: 20px;
        transition: all .5s ease;
    }

    .openCloseMenu ul li a:hover {
        color: #000;
        font-weight: bold;
        background-color: #ccc;
    }

}

/*Banner
------------------------------------------------------------*/
.banner {
    width: 100%;
    padding: 12rem 0;
    background-color: red;
    background: url(../images/bg-search.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.banner-c {
    display: flex;
    gap: 20px;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-text {text-align: center;}

.banner-text h2 {
    font-size: 2.8rem;
    margin: 10px 0;
}

.banner-text p {font-size: 1.5rem;}

.banner-search input {
    height: 40px;
    width: 400px;
    border: none;
    font-size: 1rem;
    padding: 0 10px;
    border-radius: 20px;
    color: #fff;
    background-color: #ffffff38;
}

.banner-search input:focus {outline: 2px solid #ccc;}

.banner-search input::placeholder {color: #ffffffa2;}

@media screen and (max-width: 700px) {
    .banner-search input {width: 300px;}

    .banner-text h2 {
        font-size: 2rem;
        padding: 0 10px;
    }
    
    .banner-text p {font-size: 1rem;}
}

@media screen and (max-width: 330px) {
    .banner-search input {
        width: 100%;
        margin: 0 10px;
    }

    .banner-text h2 {
        font-size: 1.5rem;
    }
    
    .banner-text p {font-size: 1rem;}
}

/*Destaque
------------------------------------------------------------*/
.destaque {
    width: 50%;
    position: absolute;
    top: 500px;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: grid;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 2px 4px 10px #5c545485;
    grid-template-columns: repeat(4, 1fr);
    background-color: #fff;
}

.destaque div:not(:last-child) {border-right: 1px solid #adacac;}

.destaque div {
    padding: 10px 30px;
    text-align: center;
}

.destaque div:first-child {padding-left: 0;}

.destaque div:last-child {padding-right: 0;}

.destaque div h2 {font-size: 2rem;}

.destaque div p {
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width: 1200px) {
    .destaque {width: 590px;}
}

@media screen and (max-width: 820px) {
    .destaque div h2 {font-size: 1.5rem;}
}

@media screen and (max-width: 730px) {
    .destaque {
        gap: 10px;
        top: 450px;
        width: 490px;
        grid-template-columns: repeat(2, 1fr);
    }

    .destaque div:nth-child(2) {border-right: none;}
}

@media screen and (max-width: 500px) {
    .destaque {
        top: 400px;
        width: 70%;
        grid-template-columns: repeat(1, 1fr);
    }

    .destaque div:nth-child(1), .destaque  div:nth-child(3) {border-right: none;}

    .destaque div:not(:last-child) {border-bottom: 1px solid #adacac;}

    .destaque div {padding: 20px;}
}

/*Carrocel
------------------------------------------------------------*/
.carrocel {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    position: relative;
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {display: none;}

.slides .slide {
    width: 25%;
    position: relative;
    transition: all .5s ease;
}

.slides .slide img {
    width: 800px;
    height: 100%;
    pointer-events: none;
    border-radius: 8px;
    object-fit: cover;
}

.manual-navigation, .auto-navigation {
    position: absolute;
    width: 800px;
    bottom: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.manual-btn, .auto-navigation div {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease;
}

.manual-btn:hover{
    background-color: #ffffff83;
}

#radio1:checked ~ .auto-navigation .auto-btn1 {
    background-color: #ffffff83;
}

#radio2:checked ~ .auto-navigation .auto-btn2 {
    background-color: #ffffff83;
}

#radio3:checked ~ .auto-navigation .auto-btn3 {
    background-color: #ffffff83;
}

#radio4:checked ~ .auto-navigation .auto-btn4 {
    background-color: #ffffff83;
}

#radio1:checked ~ .first {
    margin-left: 0%;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

@media screen and (max-width: 820px) {
    .slider {
        width: 100%;
    }

    .slides {
        width: 300%;
    }

    .slides .slide {
        width: 75%;
        padding: 0px 4px;
    }

    #radio1:checked ~ .first {
        margin-left: 0%;
    }
    
    #radio2:checked ~ .first {
        margin-left: -35%;
    }
    
    #radio3:checked ~ .first {
        margin-left: -70%;
    }
    
    #radio4:checked ~ .first {
        margin-left: -140%;
    }
}
